.joinOurNewsletter,
.kryptoDiv {
  position: absolute;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
}
.kryptoDiv {
  top: 3267px;
  left: 188px;
  text-transform: uppercase;
}
.joinOurNewsletter {
  top: 3310px;
  left: 900px;
}
.homeP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.sellNFTsP {
  margin: 0;
}
.browseNFTsBuyNFTsSellNFTs,
.emailLinkedInInstagramTwitt,
.homeAboutBuyNFTsSellNFTs {
  position: absolute;
  width: 4.79%;
  top: 94.9%;
  left: 24.86%;
  line-height: 31px;
  font-family: var(--body-text);
  display: inline-block;
}
.browseNFTsBuyNFTsSellNFTs,
.emailLinkedInInstagramTwitt {
  width: 6.74%;
  top: 94.81%;
  left: 38.06%;
}
.emailLinkedInInstagramTwitt {
  width: 5.14%;
  top: 94.9%;
  left: 50.63%;
}
.contactDiv,
.kryptoDiv1,
.marketDiv {
  position: absolute;
  top: 3270px;
  left: 358px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.contactDiv,
.marketDiv {
  top: 3267px;
  left: 548px;
}
.contactDiv {
  top: 3270px;
  left: 729px;
}
.rectangleDiv {
  position: absolute;
  top: 3341px;
  left: 908px;
  border-radius: 70px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 328px;
  height: 45px;
}
.submitDiv {
  position: relative;
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.buttonDiv,
.emailAddressDiv {
  position: absolute;
  display: flex;
  align-items: center;
}
.buttonDiv {
  top: 3350px;
  left: calc(50% + 430px);
  border-radius: var(--br-md);
  background-color: var(--button-2);
  flex-direction: row;
  padding: 0 12px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 12px;
}
.emailAddressDiv {
  width: 7.85%;
  top: 96.01%;
  left: 64.44%;
  line-height: 31px;
  font-family: var(--body-text);
  opacity: 0.8;
}
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  background: linear-gradient(96.87deg, #3434ae, rgba(116, 180, 179, 0.65));
}
.rectangleDiv1 {
  top: 0;
  left: 193px;
  border-radius: var(--br-sm);
  width: 1065px;
  height: 379px;
}
.rectangleDiv2 {
  top: 688px;
  left: 0;
  width: 1445px;
  height: 13px;
}
.areYouReady {
  position: absolute;
  top: 7.99%;
  left: 43.53%;
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
}
.beAPartOfTheNextBigThin {
  position: absolute;
  top: 17.97%;
  left: 35.09%;
  font-size: var(--h2-size);
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
}
.buttonDiv1 {
  position: absolute;
  top: 272px;
  left: calc(50% - 146.5px);
  border-radius: var(--br-md);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.getStatedDiv {
  position: absolute;
  top: 2786px;
  left: -5px;
  width: 1445px;
  height: 701px;
  font-size: var(--body-text-size);
}
.aboutDiv,
.buyNFTDiv,
.contactDiv1,
.kryptoB,
.pricingDiv {
  position: absolute;
  top: 0;
  line-height: 27.5px;
  display: inline-block;
}
.kryptoB {
  left: calc(50% - 528.5px);
  text-transform: uppercase;
  width: 87px;
}
.aboutDiv,
.buyNFTDiv,
.contactDiv1,
.pricingDiv {
  left: calc(50% + 58.5px);
  text-transform: capitalize;
}
.buyNFTDiv,
.contactDiv1,
.pricingDiv {
  left: calc(50% + 182.5px);
}
.buyNFTDiv,
.contactDiv1 {
  left: calc(50% + 314.5px);
}
.buyNFTDiv {
  left: calc(50% + 453.5px);
}
.navBarDiv {
  position: absolute;
  top: 39px;
  left: calc(50% - 532px);
  width: 1057px;
  height: 28px;
  font-size: var(--body-text-size);
}
.tESTIMONIALDiv {
  position: absolute;
  top: 0;
  left: calc(50% - 76.5px);
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--button);
  display: inline-block;
}
.readWhatOthersHaveToSay {
  position: absolute;
  top: 47px;
  left: calc(50% - 243.5px);
  font-size: var(--h2-size);
  line-height: 100%;
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
}
.rectangleDiv3 {
  position: absolute;
  top: 69px;
  left: calc(50% - 172.5px);
  border-radius: var(--br-sm);
  background-color: var(--color-indigo-200);
  width: 345px;
  height: 222px;
}
.maskGroupIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 68.5px);
  width: 137px;
  height: 137px;
  object-fit: cover;
}
.oliviaColeDiv {
  position: absolute;
  top: 156px;
  left: calc(50% - 71.5px);
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.loremIpsumDolorSitAmetCo {
  position: absolute;
  top: 188px;
  left: calc(50% - 144.5px);
  font-size: var(--font-size-base);
  line-height: 115%;
  text-transform: capitalize;
  font-family: var(--body-text);
  text-align: center;
  display: inline-block;
  width: 289px;
  height: 103px;
}
.testimonialItemDiv,
.testimonialItemDiv1,
.testimonialItemDiv2 {
  position: absolute;
  top: 227px;
  left: calc(50% - 532.5px);
  box-shadow: 3px 7px 10px rgba(255, 255, 255, 0.45);
  width: 345px;
  height: 291px;
}
.testimonialItemDiv1,
.testimonialItemDiv2 {
  left: calc(50% - 172.5px);
}
.testimonialItemDiv2 {
  left: calc(50% + 187.5px);
}
.tesimonialSectionDiv {
  position: absolute;
  top: 2145px;
  left: calc(50% - 532px);
  width: 1065px;
  height: 518px;
  font-size: var(--body-text-size);
}
.buttonDiv2 {
  position: absolute;
  top: 350px;
  left: calc(50% - 532.5px);
  border-radius: var(--br-md);
  background-color: var(--button-2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourKryptoAppIsTheEasiest {
  position: absolute;
  top: 236px;
  left: calc(50% - 520.5px);
  line-height: 27.5px;
  text-transform: capitalize;
  font-family: var(--body-text);
  display: inline-block;
  width: 423px;
}
.browseSpan {
  text-transform: capitalize;
}
.nftSpan {
  text-transform: uppercase;
}
.browseNftsFromYourSmartpho,
.getOurApp {
  position: absolute;
  left: calc(50% - 520.5px);
  display: inline-block;
}
.browseNftsFromYourSmartpho {
  top: 95px;
  font-size: var(--h2-size);
  line-height: 100%;
  width: 513px;
}
.getOurApp {
  top: 54px;
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--button);
  width: 373px;
}
.objectOther17Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.objectOther17Div,
.sectionGetOurApp {
  position: absolute;
  top: 0;
  left: calc(50% + 11.5px);
  width: 521px;
  height: 521px;
}
.sectionGetOurApp {
  top: 1561px;
  left: calc(50% - 532px);
  width: 1065px;
  font-size: var(--body-text-size);
}
.objectOther18Div {
  position: absolute;
  top: 0;
  left: calc(50% - 534px);
  width: 536px;
  height: 536px;
}
.buttonDiv3 {
  position: absolute;
  top: 361px;
  left: calc(50% + 9px);
  border-radius: var(--br-md);
  background-color: var(--button-2);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.useOurBuiltInAnalyticsDas {
  top: 247px;
  line-height: 27.5px;
  text-transform: capitalize;
  font-family: var(--body-text);
  width: 459px;
}
.aNALYTICSDiv,
.builtInAnalyticsToTrackYo,
.useOurBuiltInAnalyticsDas {
  position: absolute;
  left: calc(50% + 21px);
  display: inline-block;
}
.builtInAnalyticsToTrackYo {
  top: 106px;
  font-size: var(--h2-size);
  line-height: 100%;
  width: 513px;
}
.aNALYTICSDiv {
  top: 65px;
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--button);
  width: 373px;
}
.sectionAnalyticsDiv {
  position: absolute;
  top: 983px;
  left: calc(50% - 543px);
  width: 1068px;
  height: 536px;
  font-size: var(--body-text-size);
}
.bGCirclesIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  width: 1705px;
  height: 1399px;
}
.featuredOnDiv {
  position: absolute;
  top: 0;
  left: calc(50% - 507.5px);
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 373px;
}
.rectangleDiv6 {
  position: absolute;
  top: 36px;
  left: calc(50% - 532.5px);
  border-radius: 10px;
  background-color: rgba(87, 82, 121, 0.2);
  width: 1065px;
  height: 94px;
}
.image5Icon,
.image6Icon,
.image7Icon,
.image8Icon {
  position: absolute;
  top: 68px;
  left: calc(50% - 140.5px);
  width: 204px;
  height: 31px;
  object-fit: cover;
  opacity: 0.8;
}
.image6Icon,
.image7Icon,
.image8Icon {
  top: 41px;
  left: calc(50% - 451.5px);
  width: 229px;
  height: 84px;
}
.image7Icon,
.image8Icon {
  top: 61px;
  left: calc(50% + 142.5px);
  width: 82px;
  height: 45px;
}
.image8Icon {
  top: 66px;
  left: calc(50% + 310.5px);
  width: 139px;
  height: 35px;
}
.referenceDiv {
  position: absolute;
  top: 787px;
  left: calc(50% - 532px);
  width: 1065px;
  height: 130px;
  font-size: var(--body-text-size);
}
.objectOther07Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -4.87%;
  bottom: 0;
  left: 4.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.objectOther07Div {
  position: absolute;
  top: 0;
  left: calc(50% + 7.5px);
  width: 525px;
  height: 558px;
}
.discoverAndCollectRareNFTs,
.theMostSecureMarketplaceFo {
  position: absolute;
  left: calc(50% - 520.5px);
  text-transform: capitalize;
  display: inline-block;
}
.discoverAndCollectRareNFTs {
  top: 81px;
  font-size: var(--h1-main-heading-size);
  line-height: 100%;
  width: 435px;
  height: 231px;
}
.theMostSecureMarketplaceFo {
  top: 354px;
  line-height: 27.5px;
  font-family: var(--body-text);
  width: 373px;
}
.rectangleDiv7 {
  position: absolute;
  top: 0;
  left: calc(50% - 127.5px);
  border-radius: var(--br-md);
  background-color: var(--button-2);
  width: 255px;
  height: 73px;
}
.buyNftsDiv {
  position: absolute;
  top: 23px;
  left: calc(50% - 53.5px);
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.bUYNFTSDiv,
.rectangleDiv8 {
  position: absolute;
  top: 438px;
  left: calc(50% - 532.5px);
  width: 255px;
  height: 73px;
}
.rectangleDiv8 {
  top: 0;
  left: calc(50% - 127.5px);
  border-radius: var(--br-md);
  border: 4px solid var(--button);
  box-sizing: border-box;
}
.sellNftsDiv {
  position: absolute;
  top: 18.58px;
  left: calc(50% - 57.5px);
  letter-spacing: 0.1em;
  line-height: 27.5px;
  text-transform: uppercase;
  display: inline-block;
}
.sellNFTSDiv {
  position: absolute;
  top: 438px;
  left: calc(50% - 262.5px);
  width: 255px;
  height: 73px;
  font-family: var(--body-text);
}
.heroDiv {
  position: absolute;
  top: 163px;
  left: calc(50% - 532px);
  width: 1065px;
  height: 558px;
  font-size: var(--body-text-size);
}
.tutorialWebPage {
  position: relative;
  background-color: #020842;
  width: 100%;
  height: 3487px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--h2);
}
